.ap-terminal-window {
  background: rgb(40, 45, 53);
  font-family: Monaco, Consolas, Menlo, 'Bitstream Vera Sans Mono', 'Powerline Symbols', monospace;
}

pre.ap-terminal {
  border-color: rgb(40, 45, 53);
}

/* Based on Monokai from base16 collection - https://github.com/chriskempson/base16 */
.asciinema-theme-dark {
  background-color: rgb(40, 45, 53);
}

.asciinema-theme-dark pre.ap-terminal {
  color: #f8f8f2;
  background-color: rgb(40, 45, 53);
  border-color: rgb(40, 45, 53);
}

.asciinema-theme-dark .fg-default {
  color: #f8f8f2;
}

.asciinema-theme-dark .fg-bg {
  color: rgb(40, 45, 53);
}

.asciinema-theme-dark .bg-default {
  background-color: rgb(40, 45, 53);
}

.asciinema-theme-dark .bg-fg {
  background-color: #f8f8f2;
}

.asciinema-theme-dark .fg-0 {
  color: rgb(40, 45, 53);
}

.asciinema-theme-dark .bg-0 {
  background-color: rgb(40, 45, 53);
}

.asciinema-theme-dark .fg-1 {
  color: #f92672;
}

.asciinema-theme-dark .bg-1 {
  background-color: #f92672;
}

.asciinema-theme-dark .fg-2 {
  color: #a6e22e;
}

.asciinema-theme-dark .bg-2 {
  background-color: #a6e22e;
}

.asciinema-theme-dark .fg-3 {
  color: #f4bf75;
}

.asciinema-theme-dark .bg-3 {
  background-color: #f4bf75;
}

.asciinema-theme-dark .fg-4 {
  color: #66d9ef;
}

.asciinema-theme-dark .bg-4 {
  background-color: #66d9ef;
}

.asciinema-theme-dark .fg-5 {
  color: #ae81ff;
}

.asciinema-theme-dark .bg-5 {
  background-color: #ae81ff;
}

.asciinema-theme-dark .fg-6 {
  color: #a1efe4;
}

.asciinema-theme-dark .bg-6 {
  background-color: #a1efe4;
}

.asciinema-theme-dark .fg-7 {
  color: #f8f8f2;
}

.asciinema-theme-dark .bg-7 {
  background-color: #f8f8f2;
}

.asciinema-theme-dark .fg-8 {
  color: #75715e;
}

.asciinema-theme-dark .bg-8 {
  background-color: #75715e;
}

.asciinema-theme-dark .fg-9 {
  color: #f92672;
}

.asciinema-theme-dark .bg-9 {
  background-color: #f92672;
}

.asciinema-theme-dark .fg-10 {
  color: #a6e22e;
}

.asciinema-theme-dark .bg-10 {
  background-color: #a6e22e;
}

.asciinema-theme-dark .fg-11 {
  color: #f4bf75;
}

.asciinema-theme-dark .bg-11 {
  background-color: #f4bf75;
}

.asciinema-theme-dark .fg-12 {
  color: #66d9ef;
}

.asciinema-theme-dark .bg-12 {
  background-color: #66d9ef;
}

.asciinema-theme-dark .fg-13 {
  color: #ae81ff;
}

.asciinema-theme-dark .bg-13 {
  background-color: #ae81ff;
}

.asciinema-theme-dark .fg-14 {
  color: #a1efe4;
}

.asciinema-theme-dark .bg-14 {
  background-color: #a1efe4;
}

.asciinema-theme-dark .fg-15 {
  color: #f9f8f5;
}

.asciinema-theme-dark .bg-15 {
  background-color: #f9f8f5;
}

.asciinema-theme-dark .ap-overlay-loading .ap-loader {
  border-color: rgba(248, 248, 242, 0.3) rgba(248, 248, 242, 0.5) rgba(248, 248, 242, 0.7) #f8f8f2;
}

.asciinema-theme-dark .fg-8,
.asciinema-theme-dark .fg-9,
.asciinema-theme-dark .fg-10,
.asciinema-theme-dark .fg-11,
.asciinema-theme-dark .fg-12,
.asciinema-theme-dark .fg-13,
.asciinema-theme-dark .fg-14,
.asciinema-theme-dark .fg-15 {
  font-weight: bold;
}
